<div class="catalog_description_images">
  <div class="itp_description_big_image"></div>
  <div>
    <div class="itp_description_small_image1"></div>
    <div class="itp_description_small_image2"></div>
  </div>
</div>
<div class="catalog_description_text2 catalog_description_text_first">
  Все щиты управления ИТП соответствуют нормативным актам. В их условном обозначении присутствует следующая
  информация о структуре щита:
</div>
<div class="catalog_description_text1 catalog_description_text_box2">
  Количество вводов:
  <ul>
    <li>Количество подключаемых циркуляционных насосов отопительной системы (ЦНО);</li>
    <li>Количество подключаемых подпитывающих насосов отопительной системы (ПНО);</li>
    <li>Количество подключаемых насосов горячего водоснабжения (ГВС);</li>
    <li>Вариант управления (автоматическое или дистанционное);</li>
    <li>Мощность двигателя системы ЦНО;</li>
    <li>Мощность двигателя системы ПНО;</li>
    <li>Мощность двигателя системы ГВС;</li>
    <li>Наличие регулирующих клапанов температуры в различных контурах системы (отопительном, вентиляционном,
      горячего водоснабжения и т.д.).
    </li>
  </ul>
</div>
<div class="catalog_description_text1 catalog_description_text_box2">
  Также условное обозначение может содержать и другую информацию, если щит управления ИТП содержит дополнительное
  оборудование.
</div>
<div class="catalog_description_text2 catalog_description_text_box2">
  Стандартный щит управления ИТП предназначен для работы в системах со следующими характеристиками:
</div>
<div class="catalog_description_text1 catalog_description_text_box2">
  <ul>
    <li>Тип тока: переменный;</li>
    <li>Номинальное напряжение: 380 В;</li>
    <li>Номинальная частота: 50 Гц;</li>
    <li>Количество подключаемых единиц оборудования для каждой группы: до 3, также возможно большее количество
      по индивидуальному проекту;
    </li>
    <li>Степень защиты оболочки: IP30, IP54;</li>
  </ul>
</div>
<div class="catalog_description_text2 catalog_description_text_box2">
  В соответствии с нормативными актами, щиты управления ИТП выполняют Щит управления ИТП следующие задачи:
</div>
<div class="catalog_description_text1 catalog_description_text_box2">
  <ul>
    <li>Управление различными группами насосов (отопления, циркуляции, подпитки, горячего водоснабжения,
      вентиляции и т.д.);
    </li>
    <li>Поддержание заданного давления и температуры воды в системах;</li>
    <li>Защита оборудования от гидравлических ударов при включении питания;</li>
    <li>Управление запорно-регулирующими клапанами с целью защиты системы от превышения температуры обратной
      воды;
    </li>
    <li>Перевод режимов работы насосов в режим работы или резерва, а также обратное переключение.</li>
  </ul>
</div>
<div class="catalog_description_text2 catalog_description_text_box2">
  Если щит управления ИТП оснащен устройствами автоматики, его возможности еще более расширяются. Такие щиты
  обеспечивают:
</div>
<div class="catalog_description_text1 catalog_description_text_box2">
  <ul>
    <li>Автоматическое переключение нагрузки между несколькими насосами с целью сохранения ресурса оборудования;
    </li>
    <li>Мониторинг различных параметров системы отопления в режиме реального времени (перепады напряжения,
      короткие замыкания, режим сухого хода, падение давления и т.д.);
    </li>
    <li>Автоматическое подключение резервного насоса в случае аварии, а также обратное переключение после
      устранения неисправности;
    </li>
    <li>Оперативное управление режимами работы непосредственно с передней панели щита;</li>
    <li>Возможность ручного управления оборудованием;</li>
    <li>Автоматическое поддержание параметров работы системы;</li>
    <li>Учет потребляемой электроэнергии и времени наработки оборудования;</li>
    <li>Мгновенное предупреждение диспетчера о возникших неисправностях в системе.</li>

  </ul>
</div>
<div class="catalog_description_text2 catalog_description_text_box2">
  Благодаря широкому спектру выполняемых задач, щит управления ИТП позволяет:
</div>
<div class="catalog_description_text1 catalog_description_text_last">
  <ul>
    <li>Продлевать ресурс оборудования за счет плавного включения электродвигателей и равномерного распределения
      нагрузки между ними;
    </li>
    <li>Снизить затраты на электроэнергию и другие ресурсы;</li>
    <li>Защита оборудования от гидравлических ударов при включении питания;</li>
    <li>Упростить режимы работы оборудования, входящего в состав ИТП;</li>
    <li>Сократить затраты на техническое обслуживание и модернизацию.</li>
  </ul>
</div>

