.catalog_description_images {
  margin-top: 73px;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
}
.big_image{
  width: 100%;
}
.images_list{
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-left: 1rem;
  justify-content: space-between;
}
.active{
  box-sizing:content-box;
  border-radius: 0.5rem;
  padding: 2px;
  border: 2px solid blue;
  opacity: 0.7;
}
