
  <div class="catalog_description_text1 catalog_description_text_first">
    УКРМ или БСК (батарея статических конденсаторов) представляет собой батарею, состоящую из
    параллельно-последовательно соединенных конденсаторов, совмещенную с прочной металлоконструкцией и включающую
    дополнительное оборудование. Конструктивно БСК состоит из блоков конденсаторов, установленных схемой
    «треугольник», установленных в открытых или закрытых распределительных устройствах на опорных изоляторах. Между
    блоками проложены соединения с помощью токоведущих шин, конденсаторы соединены с помощью гибких связей.
  </div>
  <div class="catalog_description_text1 catalog_description_text_box2">
    Техническое средство, снижающее реактивную составляющую потребляемой электроустановками мощности, называется
    конденсаторная установка УКРМ. Она компенсирует реактивную энергию, увеличивает коэффициент мощности в
    энергосистеме, сглаживает пики и провалы при потреблении. Эффективна при -40 и при +40 градусах Цельсия.
  </div>
  <div class="catalog_description_text2 catalog_description_text_box2">
    УКРМ способствуют:
  </div>
  <div class="catalog_description_text1 catalog_description_text_box2">
    <ul>
      <li>Увеличению коэффициента мощности;</li>
      <li>Улучшению качества электроэнергии;</li>
      <li>Снижению потери энергии в сети;</li>
      <li>Уменьшению пусковых токов трансформаторов;</li>
      <li>Снижению расхода энергии на нужды подстанций и генераторов;</li>
      <li>Увеличивает срок эксплуатации оборудования.</li>
    </ul>
  </div>
  <div class="catalog_description_text1 catalog_description_text_box2">
    Управление УКРМ, как правило, осуществляется электронными приспособлениями. Они отслеживают фактическую
    мощность, при изменении которой подключают или отключают конденсаторы. В результате происходит ступенчатое
    регулирование энергии. УКРМ контролирует состояние оборудования и характеристики электросети, выдавая информацию
    об амплитуде напряжения, уровне искажения, а также коэффициенте мощности. Если возникнет неисправность, УКРМ
    подает аварийный сигнал. Устройство позволит поддерживать значение коэффициента мощности на определенном уровне,
    независимо от работающих агрегатов. Оно обеспечит компенсацию активной и реактивной гармоники.
  </div>
  <div class="catalog_description_text1 catalog_description_text_last">
    УКРМ позволяет регулировать компенсацию в широком диапазоне, не нуждается в регулярном обслуживании и изменении
    схемы электросети, не влияет на качество электроэнергии, позволяет компенсировать реактивность как на одном, так
    и на нескольких фидерах. Она может использоваться для присоединения к сети и как автономный источник реактивной
    мощности. Устройство не влияет на функционирование потребителей, подключенных с помощью УКРМ.
  </div>


