.description {
  display: flex;
  flex-wrap: nowrap;
  height: 512px;
  margin: 80px auto 150px;
  justify-content: space-between;
}

.description_text {
  width: 822px;
}

.description_h1 {
  font-size: 39px;
  font-weight: 600;
  margin-bottom: 51px;
}

.description_h2 {
  width: 600px;
  font-family: Inter, serif;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 51px;
}

.description_h3 {
  width: 621px;
  height: 39px;
  display: flex;
  flex-wrap: nowrap;
}

.description_rect {
  width: 10px;
  background: #1939AB;
  margin-right: 33px;
}

.description_vartext {
  font-family: Inter, serif;
  font-size: 20px;
  font-weight: 400;
}

.description_call {
  margin-top: 45px;
}

.description_call:hover {
  background: #1939AB;
}

.description_call a {
  text-decoration: none;
  color: white;
}

.description_image {
  height: 512px;
  width: 512px;
  background-image: url("../../../../public/img/description_image.jpg");
  background-repeat: no-repeat;
}
.main_go_catalog {
  font-weight: 400;
  font-family: 'Inter', serif;
}
.main_catalog_images {
  display: flex;
  flex-wrap: nowrap;
  height: 520px;
  margin-bottom: 160px;
  justify-content: space-evenly;
}

.main_catalog_brd {
  width: 400px;
  height: 500px;
  border-radius: 12px;
  border: #D8D8D8 1px solid;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
}
.main_catalog_brd:hover{
  border:  1px solid blue;
}
.main_catalog_image {
  height: 380px;
  width: 380px;
  margin-top: 10px;
}

.main_catalog_text {
  padding-top: 16px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Inter', serif;
  text-align: center;
}

.main_go_catalog2 {
  height: 59px;
  background: #2152FF;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: 400;
  font-family: 'Inter', serif;
  cursor: pointer;
  margin: 20px ;
}

.main_go_catalog2 a {
  text-decoration: none;
  color: white;
}



/*Advantages*/
.title_text {
  font-size: 39px;
  font-weight: 600;
  margin: 60px auto 40px;
  font-family: Inter, serif;
}

.advantages_blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages_block {
  width: 400px;
  height: 205px;
  border: #2152FF solid 1px;
  border-radius: 10px;
  margin-bottom: 25px;
  padding-top: 15px;
  padding-left: 17px;
  transition: all 0.5s ease-in-out;
}
.active_block{
  background: #2152FF;
  color: white;
}
.advantages_text_1 {
  font-size: 40px;
  font-weight: 600;
  font-family: Inter, serif;
  margin-bottom: 40px;
}

.advantages_text_2 {
  font-size: 24px;
  font-weight: 400;
  font-family: Inter, serif;
}



.digits_blocks {
  margin-bottom: 160px;
}
.digits_blocks-row{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.digits_short_block {
  width: 38%;
  height: 241px;
  border-radius: 10px;
  margin-bottom: 14px;
  background: #2152FF;
  padding-left: 20px;
}

.digits_wide_block {
  width: 60%;
  height: 241px;
  border-radius: 10px;
  margin-bottom: 14px;
  background: #1939AB;
  padding-left: 20px;
}

.digits_text_1 {
  font-size: 136px;
  font-weight: 800;
  color: white;
  font-family: Inter, serif;
}

.digits_text_2 {
  font-size: 27px;
  font-weight: 400;
  color: white;
  font-family: Inter, serif;
}


