<div class="description">
  <div class="description_text">
    <div class="description_h1">ПРОИЗВОДСТВО И ПРОЕКТИРОВАНИЕ ЭЛЕКТРОЩИТОВОГО ОБОРОУДОВАНИЯ В САНКТ-ПЕТЕРБУРГЕ</div>
    <div class="description_h2">Компания «ЭМАКС» является производителем электрощитового оборудования и проводит
      следующие работы:
    </div>
    <div class="description_h3">
      <div class="description_rect"></div>
      <div class="description_vartext">
        Разработка проектной и конструкторской документации
      </div>
    </div>
    <div class="buttons description_call">
      <div>
        <a href="#">Заказать звонок</a>
      </div>
    </div>
  </div>
  <div class="description_image">
  </div>
</div>
<!--Каталог-->
<div class="title">
  <div>КАТАЛОГ</div>
  <div class="buttons main_go_catalog">
    <div>
      <a href="#">Перейти в каталог</a>
    </div>
  </div>
</div>
<div class="main_catalog_images">
  <div class="main_catalog_brd">
    <div class="main_catalog_image">
      <img ngSrc="img/UKRM.png" height="380" width="380" alt="">
    </div>
    <div class="main_catalog_text">
      Устройства компенсации реактивной мощности (УКРМ)
    </div>
    <div class="main_go_catalog2">
      <div>
        <a href="#">Перейти в каталог</a>
      </div>
    </div>
  </div>
  <div class="main_catalog_brd">
    <div class="main_catalog_image">
      <img ngSrc="img/SCHNO.png" height="380" width="380" alt="">
    </div>
    <div class="main_catalog_text">
      Щиты наружного освещения (ЩНО)
    </div>
    <div class="main_go_catalog2">
      <div>
        <a href="#">Перейти в каталог</a>
      </div>
    </div>
  </div>
  <div class="main_catalog_brd">
    <div class="main_catalog_image ">
      <img ngSrc="img/SCHITP.png" height="380" width="379" alt="">
    </div>
    <div class="main_catalog_text">
      Щиты индивидуального теплового пункта
    </div>
    <div class="main_go_catalog2">
      <div>
        <a href="#">Перейти в каталог</a>
      </div>
    </div>
  </div>
</div>

<!--Позвоните нам-->
<div class="call_us">
  <div class="call_us_texts">
    <div class="call_us_text1">ПОЗВОНИТЕ НАМ</div>
    <div class="call_us_text2">
      <a href="tel:+78129516997">+7 (812) 951-69-97</a>
    </div>
    <div class="call_us_text3">Или оставьте заявку</div>
    <div class="call_us_text4">перезвоним в течение 1 часа</div>
  </div>
  <div>
    <div class="call_us_number_form1">
      <div>Номер телефона</div>
    </div>
    <div class="call_us_number_form2">
      <a href="#">Отправить</a>
    </div>
    <div class="call_us_pers">*Нажимая на кнопку, Вы соглашаетесь на обработку персональных данных</div>
  </div>
</div>

<!--Наши работы-->
<div class="title">
  <div>НАШИ РАБОТЫ</div>
  <div class="buttons main_go_catalog our_works_head">
    <div>
      <a href="#">Смотреть все работы</a>
    </div>
  </div>
</div>
<div class="our_works">
  <div class="our_works_main_image"></div>
  <div class="our_works_right">
    <div class="our_works_text_h1">
      Главный распределительный щит
    </div>
    <div class="our_works_description">
      <div class="our_works_text_h2">
        Главный распределительный щит для объекта Строительство здания общеобразовательной школы по адресу: Лиственная
        ул., участок № 1, (территория, ограниченная Северным пр., ул. Есенина, проектируемой улицей № 2, Лиственной
        ул.,
        ул. Жака Дюкло, проектируемой пешеходной улицей, проектируемой улицей № 1; ФЗУ № 20) (1000 мест).
      </div>
      <div class="our_works_contur">
        <div class="our_works_second_images">
          <div>
            <img ngSrc="img/grshc_image_1.png" width="143" height="131" alt="">
          </div>
          <div>
            <img ngSrc="img/grshc_image_2.png" width="143" height="131" alt="">
          </div>
          <div>
            <img ngSrc="img/grshc_image_3.png" width="143" height="131" alt="">
          </div>
          <div></div>
          <div></div>
        </div>
        <div class="our_works_buttons">
          <div class="our_works_button our_works_button_left"></div>
          <div class="our_works_button our_works_button_right"></div>
        </div>
      </div>
    </div>
    <div class="our_works_more buttons">
      <a href="#">Подробнее</a>
    </div>
  </div>
</div>

<!--Преимущества-->
<div class="title_text">ПРЕИМУЩЕСТВА</div>
<div class="advantages_blocks">
  <div class="advantages_block">
    <div class="advantages_text_1">01</div>
    <div class="advantages_text_2">Сертифицированная</div>
    <div class="advantages_text_2">продукция</div>
  </div>
  <div class="advantages_block">
    <div class="advantages_text_1">02</div>
    <div class="advantages_text_2">Гарантия на оборудование</div>
    <div class="advantages_text_2"> от 2-х лет</div>
  </div>
  <div class="advantages_block">
    <div class="advantages_text_1">03</div>
    <div class="advantages_text_2">Профессиональная</div>
    <div class="advantages_text_2">команда</div>
  </div>
  <div class="advantages_block">
    <div class="advantages_text_1">04</div>
    <div class="advantages_text_2">Проверка лабораторным</div>
    <div class="advantages_text_2">оборудованием для выявления</div>
    <div class="advantages_text_2">брака</div>
  </div>
  <div class="advantages_block">
    <div class="advantages_text_1">05</div>
    <div class="advantages_text_2">Использование</div>
    <div class="advantages_text_2">передовых</div>
    <div class="advantages_text_2">технологий</div>
  </div>
  <div class="advantages_block">
    <div class="advantages_text_1">06</div>
    <div class="advantages_text_2">Выгодное соотношение</div>
    <div class="advantages_text_2">стоимости и качества</div>
  </div>

</div>

<!--Компания в цифрах-->
<div class="title_text">КОМПАНИЯ В ЦИФРАХ</div>

<div class="digits_blocks">
  <div class="digits_short_block">
    <div class="digits_text_1">10+</div>
    <div class="digits_text_2">лет опыт</div>
    <div class="digits_text_2">работы</div>
  </div>
  <div class="digits_wide_block">
    <div class="digits_text_1">900+</div>
    <div class="digits_text_2">выполненных</div>
    <div class="digits_text_2">работ</div>
  </div>
  <div class="digits_wide_block">
    <div class="digits_text_1">400+</div>
    <div class="digits_text_2">наименований</div>
    <div class="digits_text_2">комплектущих на складе</div>
  </div>
  <div class="digits_short_block">
    <div class="digits_text_1">10+</div>
    <div class="digits_text_2">мастеров</div>
    <div class="digits_text_2">в штате</div>
  </div>
</div>

<!--Скидка 10%-->
<div class="discount">
  <div class="discount_left">
    <div class="discount_block1">
      <div class="discount_text discount_text_1">-10%</div>
      <div class="discount_text discount_text_2">Оставьте номер телефона</div>
      <div class="discount_text discount_text_2">и получите скидку</div>
    </div>
    <div class="discount_block2">
      <div class="discount_text discount_text_3">На любую</div>
      <div class="discount_text discount_text_3">услугу</div>
    </div>
  </div>
  <div class="discount_right">
    <div class="discount_form_1">
      <div class="discount_text discount_text_4">Ваше имя</div>
    </div>
    <div class="discount_form_1">
      <div class="discount_text discount_text_4">Номер телефона</div>
    </div>
    <div class="discount_form_2">
      <div class="discount_text discount_text_5">
        <a href="#">Отправить</a>
      </div>
    </div>
    <div class="call_us_pers">*Нажимая на кнопку, Вы соглашаетесь на обработку персональных данных</div>
  </div>
</div>

<!--Контакты-->
<div class="contacts">
  <div class="contacts_block">
    <div class="contacts_title">КОНТАКТЫ</div>
    <div class="contacts_text address">
      198206 г. Санкт-Петербург, ул. Летчика Пилютова, д. 11, корп.1, лит.А, помещение 1-Н
    </div>
    <div class="contacts_text contacts_phone_email">
      <div class="contacts_phone">
        <div class="contacts_text">
          <a href="tel:+78129516997">+7 (812) 951-69-97</a>
        </div>
        <div class="contacts_text">C 09:00 до 18:00</div>
      </div>
      <div class="email contacts_text">
        <a href="mailto:sales@emacs.spb.ru">sales&#64;emacs.spb.ru</a>
      </div>
    </div>
  </div>
  <div class="map"></div>

</div>
