<div class="description">
  <div class="description_text">
    <div class="description_h1">ПРОИЗВОДСТВО И ПРОЕКТИРОВАНИЕ ЭЛЕКТРОЩИТОВОГО ОБОРОУДОВАНИЯ В САНКТ-ПЕТЕРБУРГЕ</div>
    <div class="description_h2">Компания «ЭМАКС» является производителем электрощитового оборудования и проводит
      следующие работы:
    </div>
    <div class="description_h3">
      <div class="description_rect"></div>
      <div class="description_vartext">
        Разработка проектной и конструкторской документации
      </div>
    </div>
    <div class="buttons description_call" (click)="requestCallShow()">
      <div>
        Заказать звонок
      </div>
    </div>
  </div>
  <div class="description_image">
  </div>
</div>
<!--Каталог-->
<div class="title">
  <div>КАТАЛОГ</div>
  <div class="buttons main_go_catalog" routerLink="catalog/all">
    <div>
      Перейти в каталог
    </div>
  </div>
</div>
<div class="main_catalog_images">
  <div class="main_catalog_brd">
    <div class="main_catalog_image">
      <img ngSrc="img/UKRM.png" height="380" width="380" alt="">
    </div>
    <div class="main_catalog_text">
      Устройства компенсации реактивной мощности (УКРМ)
    </div>
    <div class="main_go_catalog2">
      <div>
        <a href="#">Перейти в каталог</a>
      </div>
    </div>
  </div>
  <div class="main_catalog_brd">
    <div class="main_catalog_image">
      <img ngSrc="img/SCHNO.png" height="380" width="380" alt="">
    </div>
    <div class="main_catalog_text">
      Щиты наружного освещения (ЩНО)
    </div>
    <div class="main_go_catalog2">
      <div>
        <a href="#">Перейти в каталог</a>
      </div>
    </div>
  </div>
  <div class="main_catalog_brd">
    <div class="main_catalog_image ">
      <img ngSrc="img/SCHITP.png" height="380" width="379" alt="">
    </div>
    <div class="main_catalog_text">
      Щиты индивидуального теплового пункта
    </div>
    <div class="main_go_catalog2">
      <div>
        <a href="#">Перейти в каталог</a>
      </div>
    </div>
  </div>
</div>

<!--Позвоните нам-->
<app-call-us></app-call-us>

<!--Наши работы-->
<app-our-works></app-our-works>
<!--Преимущества-->
<div class="title_text">ПРЕИМУЩЕСТВА</div>
<div class="advantages_blocks">
  <div class="advantages_block" [ngClass]="{active_block:currentDiv===1}">
    <div class="advantages_text_1">01</div>
    <div class="advantages_text_2">Сертифицированная</div>
    <div class="advantages_text_2">продукция</div>
  </div>
  <div class="advantages_block"  [ngClass]="{active_block:currentDiv===2}">
    <div class="advantages_text_1">02</div>
    <div class="advantages_text_2">Гарантия на оборудование</div>
    <div class="advantages_text_2"> от 2-х лет</div>
  </div>
  <div class="advantages_block"  [ngClass]="{active_block:currentDiv===3}">
    <div class="advantages_text_1">03</div>
    <div class="advantages_text_2">Профессиональная</div>
    <div class="advantages_text_2">команда</div>
  </div>
  <div class="advantages_block"  [ngClass]="{active_block:currentDiv===4}">
    <div class="advantages_text_1">04</div>
    <div class="advantages_text_2">Проверка лабораторным</div>
    <div class="advantages_text_2">оборудованием для выявления</div>
    <div class="advantages_text_2">брака</div>
  </div>
  <div class="advantages_block"  [ngClass]="{active_block:currentDiv===5}">
    <div class="advantages_text_1">05</div>
    <div class="advantages_text_2">Использование</div>
    <div class="advantages_text_2">передовых</div>
    <div class="advantages_text_2">технологий</div>
  </div>
  <div class="advantages_block"  [ngClass]="{active_block:currentDiv===6}">
    <div class="advantages_text_1">06</div>
    <div class="advantages_text_2">Выгодное соотношение</div>
    <div class="advantages_text_2">стоимости и качества</div>
  </div>
</div>

<!--Компания в цифрах-->
<div class="title_text">КОМПАНИЯ В ЦИФРАХ</div>

<div class="digits_blocks">
  <div class="digits_blocks-row">
    <div class="digits_short_block">
      <div class="digits_text_1">10+</div>
      <div class="digits_text_2">лет опыт</div>
      <div class="digits_text_2">работы</div>
    </div>
    <div class="digits_wide_block">
      <div class="digits_text_1">900+</div>
      <div class="digits_text_2">выполненных</div>
      <div class="digits_text_2">работ</div>
    </div>
  </div>
  <div class="digits_blocks-row">
    <div class="digits_wide_block">
      <div class="digits_text_1">400+</div>
      <div class="digits_text_2">наименований</div>
      <div class="digits_text_2">комплектущих на складе</div>
    </div>
    <div class="digits_short_block">
      <div class="digits_text_1">10+</div>
      <div class="digits_text_2">мастеров</div>
      <div class="digits_text_2">в штате</div>
    </div>
  </div>

</div>
<app-discount></app-discount>
<app-contacts></app-contacts>
