.description {
  display: flex;
  flex-wrap: nowrap;
  height: 512px;
  margin: 80px auto 150px;
  justify-content: space-between;
}

.description_text {
  width: 822px;
}

.description_h1 {
  font-size: 39px;
  font-weight: 600;
  margin-bottom: 51px;
}

.description_h2 {
  width: 600px;
  font-family: Inter, serif;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 51px;
}

.description_h3 {
  width: 621px;
  height: 39px;
  display: flex;
  flex-wrap: nowrap;
}

.description_rect {
  width: 10px;
  background: #1939AB;
  margin-right: 33px;
}

.description_vartext {
  font-family: Inter, serif;
  font-size: 20px;
  font-weight: 400;
}

.description_call {
  margin-top: 45px;
}

.description_call:hover {
  background: #1939AB;
}

.description_call a {
  text-decoration: none;
  color: white;
}

.description_image {
  height: 512px;
  width: 512px;
  background-image: url("../../../../public/img/description_image.jpg");
  background-repeat: no-repeat;
}
.main_go_catalog {
  font-weight: 400;
  font-family: 'Inter', serif;
}
.main_catalog_images {
  display: flex;
  flex-wrap: nowrap;
  height: 520px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 160px;
  justify-content: space-between;
}

.main_catalog_brd {
  width: 437px;
  height: 535px;
  border-radius: 12px;
  border: #D8D8D8 1px solid;
}

.main_catalog_image {
  background-repeat: no-repeat;
  height: 380px;
  width: 380px;
  margin-top: 10px;
}

.main_catalog_text {
  height: 54px;
  padding-left: 20px;
  padding-top: 16px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Inter', serif;
}

.main_go_catalog2 {
  height: 59px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  background: #2152FF;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: 400;
  font-family: 'Inter', serif;
  cursor: pointer;
}

.main_go_catalog2 a {
  text-decoration: none;
  color: white;
}

.call_us {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 265px;
  background-image: url("../../../../public/img/call_us.png");
  background-repeat: no-repeat;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 160px;

}

.call_us_texts {
  margin-left: 64px;
  margin-top: 43px;
}

.call_us_text1 {
  font-size: 36px;
  font-weight: 600;
  font-family: 'Inter', serif;
  color: white;
}

.call_us_text2 {
  font-size: 36px;
  font-weight: 500;
  font-family: 'Inter', serif;
  color: white;
  margin-bottom: 30px;
}

.call_us_text2 a {
  text-decoration: none;
  color: white;
}

.call_us_text3 {
  font-size: 24px;
  font-weight: 500;
  font-family: 'Inter', serif;
  color: white;
  margin-bottom: 6px;
}

.call_us_text4 {
  font-size: 16px;
  font-weight: 500;
  font-family: 'Inter', serif;
  color: white;
}

.call_us_number_form1 {
  margin-top: 62px;
  border-radius: 10px;
  margin-right: 62px;
  padding-left: 31px;
  width: 418px;
  height: 60px;
  background: white;
  align-content: center;
  color: #787878;
  font-size: 15px;
  font-family: 'Inter', serif;
}

.call_us_number_form2 {
  margin-top: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 418px;
  height: 60px;
  background: #2152FF;
  color: white;
  font-size: 20px;
  font-family: 'Inter', serif;
}

.call_us_number_form2:hover {
  background: #1939AB;
}

.call_us_number_form2 a {
  text-decoration: none;
  color: white;
}

.call_us_pers {
  margin-top: 26px;
  color: white;
  font-size: 12px;
  font-family: 'Inter', serif;
}

/*Advantages*/
.title_text {
  font-size: 39px;
  font-weight: 600;
  margin: 60px auto 40px;
  font-family: Inter, serif;
}

.advantages_blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages_block {
  width: 400px;
  height: 205px;
  border: #2152FF solid 1px;
  border-radius: 10px;
  margin-bottom: 25px;
  padding-top: 15px;
  padding-left: 17px;
  transition: all 0.5s ease-in-out;
}
.active_block{
  background: #2152FF;
  color: white;
}
.advantages_text_1 {
  font-size: 40px;
  font-weight: 600;
  font-family: Inter, serif;
  margin-bottom: 40px;
}

.advantages_text_2 {
  font-size: 24px;
  font-weight: 400;
  font-family: Inter, serif;
}



.digits_blocks {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 160px;
}

.digits_short_block {
  width: 544px;
  height: 241px;
  border-radius: 10px;
  margin-bottom: 14px;
  background: #2152FF;
  padding-left: 20px;
}

.digits_wide_block {
  width: 792px;
  height: 241px;
  border-radius: 10px;
  margin-bottom: 14px;
  background: #1939AB;
  padding-left: 20px;
}

.digits_text_1 {
  font-size: 136px;
  font-weight: 800;
  color: white;
  font-family: Inter, serif;
}

.digits_text_2 {
  font-size: 27px;
  font-weight: 400;
  color: white;
  font-family: Inter, serif;
}


.contacts {
  height: 355px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 160px;
  align-items: center;
}

div.contacts_block {
  width: 567px;
  height: 280px;
}

.contacts_title {
  font-family: Inter, serif;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 58px;
}

.address {
  margin-bottom: 58px;
}

.contacts_text {
  font-family: Inter, serif;
  font-weight: 400;
  font-size: 24px;
  color: black;
}

.contacts_phone_email {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.email {
  margin-left: 84px;
  align-self: flex-end;
}

.contacts_phone_email a {
  color: black;
}

.contacts_phone a {
  text-decoration: none;
}
