<div class="header">
  <div class="header_logo" routerLink="">
    <svg-icon src="img/logo.svg"></svg-icon>
  </div>
  <div class="header_menu">
    <div class="dropdown">
      <div class="dropbtn">
        <div class="header_catalog">Каталог</div>
      </div>
      <div class="dropdown-content">
        <a routerLink="catalog/grsch">Главный распределительный щит</a>
        <a href="#">Вводное распределительное устройство (ВРУ)</a>
        <a routerLink="catalog/avr">Автоматический ввод резерва (АВР)</a>
        <a routerLink="catalog/ukrm">Устройство компенсации реактивной мощности (УКРМ)</a>
        <a routerLink="catalog/schno">Щиты наружного освещения (ЩНО)</a>
        <a href="#">Шкафы управления насосами (ШУН)</a>
        <a routerLink="catalog/itp">Щиты индивидуального теплогово пункта</a>
      </div>
    </div>
    <div class="menu_cert">
      <a href="#">Сертификаты</a>
    </div>
    <div class="menu_cert">
      <a href="#">Наши работы</a>
    </div>
    <div class="menu_cert">
      <a href="#">Контакты</a>
    </div>
  </div>
  <div class="phone">
    <div class="number">
      <a href="tel:+78129516997"> +7 (812) 951-69-97 </a>
    </div>
    <div class="working_time">C 09:00 до 18:00</div>
  </div>
  <div class="call">
    <div>
      <a href="#">Заказать звонок</a>
    </div>
  </div>
</div>
<hr class="under_header_line">
