<div class="order_title">
  <div>АВТОМАТИЧЕСКИЙ ВВОД РЕЗЕРВА (АВР)</div>
  <div class="buttons main_go_catalog">
    <div>
      Оставить заявку
    </div>
  </div>
</div>

<div class="catalog_description_box">
  <div class="catalog_description_images">
    <div>
      <img ngSrc="{{fullImageUrl[bigImageUrl]}}" width="1024" height="660" alt="">
    </div>
    <div>
      <div *ngFor="let image of fullImageUrl">
        <img ngSrc="{{image}}" width="305" height="200" alt="">
      </div>
    </div>
  </div>
  <div class="catalog_description_text1 catalog_description_text_first">
    Устройства АВР должны предусматриваться для восстановления питания потребителей путем автоматического
    присоединения
    резервного источника питания при отключении рабочего источника питания, приводящем к обесточению
    электроустановок
    потребителя. Устройства АВР должны предусматриваться также для автоматического включения резервного оборудования
    при
    отключении рабочего оборудования, приводящем к нарушению нормального технологического процесса. Устройства АВР
    также
    рекомендуется предусматривать, если при их применении возможно упрощение релейной защиты, снижение токов КЗ.
  </div>
  <div class="catalog_description_text1 catalog_description_text_last">
    Главное назначение устройства АВР заключается в обеспечении бесперебойного питания электроэнергией потребителей.
    Для
    этого система АВР должна отслеживать состояние основной линии. И при выявлении нарушений переходить на подачу
    электроэнергии потребителю от резервного ввода. При этом процесс восстановления электропитания должен
    происходить
    максимально быстро. Обязательным условием является однократность выполняемого действия. То есть не должно быть
    повторных срабатываний в случае одной и той же неисправности (не устраненные токи короткого замыкания и т.п.).
    Еще
    один важный момент - разрыв основной сети должен происходить до подключения резервной линии. обо всех изменениях
    устройство АВР должно информировать с помощью индикации параметров.
  </div>
</div>
<app-our-works></app-our-works>
