.order_title {
  display: flex;
  flex-wrap: wrap;
  width: 1353px;
  height: 96px;
  justify-content: space-between;
  font-family: Inter, serif;
  font-size: 39px;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
}

.order {
  width: 564px;
}
.catalog_description_box {
  margin-left: auto;
  margin-right: auto;
}
.catalog_description_images {
  margin-top: 73px;
  border-radius: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog_description_text1 {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Inter', serif;
}
.catalog_description_text_first {
  margin-top: 80px;
  margin-bottom: 24px;
}

.catalog_description_text_box2 {
  margin-bottom: 24px;
}
.catalog_description_text_last {
  margin-bottom: 80px;
}
