<div class="catalog_description_text2 catalog_description_text_first">
  Щит наружного освещения (ЩНО) – это электрическое устройство, которое предназначено для управления силовыми
  установками, используемыми для освещения территории на открытом воздухе.
</div>
<div class="catalog_description_text1 catalog_description_text_box2">
  Внешний вид щита наружного освещения может зависеть от его назначения и требований, предъявляемых к его
  функциональности. Как правило, ЩНО изготавливаются из металла и имеют защитное покрытие, которое защищает от
  коррозии и других неблагоприятных воздействий окружающей среды.
</div>
<div class="catalog_description_text1 catalog_description_text_box2">
  Основным назначением ЩНО является обеспечение надежной работы системы наружного освещения. Это достигается путем
  подключения к ЩНО различных устройств, таких как выключатели, автоматические выключатели, предохранители,
  контакторы, счетчики электроэнергии и другие. В зависимости от назначения ЩНО, оно может быть оборудовано
  разными устройствами и иметь разное количество выводов.
</div>
<div class="catalog_description_text1 catalog_description_text_box2">
  Несмотря на то, что ЩНО предназначены для работы на открытом воздухе, они должны соответствовать всем нормам и
  правилам, которые регулируют электробезопасность. Поэтому, при разработке ЩНО, особое внимание уделяется
  вопросам безопасности и защите от короткого замыкания, перегрузки и других неполадок.
</div>
<div class="catalog_description_text1 catalog_description_text_box2">
  Помимо этого, ЩНО должно легко обслуживаться и ремонтироваться. Для этого, щит наружного освещения оборудуется
  съемными дверцами, которые позволяют получить доступ к внутренним устройствам, а также различными индикаторами и
  датчиками, помогающими проводить диагностику неисправностей.
</div>
<div class="catalog_description_text1 catalog_description_text_box2">
  Особенно важно правильно выбрать место установки ЩНО, чтобы обеспечить бесперебойную работу системы наружного
  освещения. В зависимости от условий эксплуатации, ЩНО может быть установлено на нижнем или верхнем уровне, а
  также на земле или на подъемном механизме.
</div>
<div class="catalog_description_text1 catalog_description_text_last">
  В заключении можно отметить, что ЩНО является неотъемлемой частью системы наружного освещения и для ее надежного
  и безопасного функционирования необходимо правильно выбрать и установить щит, который соответствует всем
  требованиям и стандартам. Щит наружного освещения должен быть изготовлен из качественных материалов, иметь
  хорошие характеристики по электрической безопасности и быть легко обслуживаемым.
</div>


