<div class="footer">
  <div class="footer_block">
    <div class="footer_logo"></div>
    <div class="footer_menu">
      <div class="footer_h1">Меню</div>
      <a routerLink="certificates">Сертификаты</a>
      <a routerLink="works">Наши работы</a>
      <a routerLink="contacts">Контакты</a>
    </div>
    <div class="footer_menu">
      <div class="footer_h1">Каталог</div>
      <a routerLink="catalog/grsch">Главный распределительный щит</a>
      <a routerLink="catalog/vru">Вводное распределительное устройство (ВРУ)</a>
      <a routerLink="catalog/avr">Автоматический ввод резерва (АВР)</a>
      <a routerLink="catalog/ukrm">Устройство компенсации реактивной мощности (УКРМ)</a>
      <a routerLink="catalog/schno">Щиты наружного освещения (ЩНО)</a>
      <a routerLink="catalog/schun">Шкафы управления насосами (ШУН)</a>
      <a routerLink="catalog/itp">Щиты индивидуального теплогово пункта</a>
    </div>
    <div class="footer_contacts">
      <div class="footer_h1">Контакты:</div>
      <div class="footer_h2">Адрес:</div>
      <div>198206 г. Санкт-Петербург, ул. Летчика</div>
      <div>Пилютова, д. 11, корп.1, лит.А, помещение 1-Н</div>
      <div class="footer_h2 footer_margin">Телефон:</div>
      <a href="tel:+78129516997">+7 (812) 951-69-97</a>
      <div class="working_time">C 09:00 до 18:00</div>
    </div>
  </div>
</div>
