<div class="catalog_description_text1 catalog_description_text_first">
  Вводно-распределительные устройства (ВРУ): Электротехническое устройство низкого напряжения, содержащее
  аппаратуру,
  обеспечивающую возможность ввода, распределения и учета электроэнергии, а также управления и защиты отходящих
  распределительных и групповых электрических цепей в жилых и общественных зданиях, которая размещена в виде
  соответствующих функциональных блоков в одной или нескольких соединенных между собой (механически и
  электрически)
  панелях или в одном шкафу.
</div>
<div class="catalog_description_text2 catalog_description_text_box2">
  Щиты ВРУ изготавливаются индивидуально, только по техническому заданию (ТЗ) заказчика. При этом согласуются:
</div>
<div class="catalog_description_text1 catalog_description_text_box2">
  <ul>
    <li>Комплектация ВРУ, производитель коммутационного оборудования;</li>
    <li>Параметры оборудования;</li>
    <li>Принципиальная электрическая схема;</li>
    <li>Размеры ВхШхГ;</li>
    <li>Исполнение по степени защиты (IP30, IP54 и т.д.);</li>
    <li>Количество шкафов и их расположение в электрощитовом помещении.</li>
  </ul>
</div>
<div class="catalog_description_text1 catalog_description_text_box2">
  В состав ВРУ (вводно распределительных устройств) входят различные функциональные блоки, состоящие из
  взаимосвязанного оборудования.
</div>
<div class="catalog_description_text1 catalog_description_text_box2">
  Блок ввода. Необходим для подачи электричества. Блок включает в себя аппаратуру для коммутации и защиты.
</div>
<div class="catalog_description_text1 catalog_description_text_box2">
  Распределительный блок (защитное и коммутационное оборудование электросетей).
</div>
<div class="catalog_description_text1 catalog_description_text_box2">
  Блок управления освещением. В его составе – аппаратура для защиты и коммутации конечных электроцепей, а также
  оборудование, необходимое для управления данными цепями.
</div>
<div class="catalog_description_text2 catalog_description_text_box2">
  Состав ВРУ:
</div>
<div class="catalog_description_text1 catalog_description_text_box2">
  <div class="catalog_description_text1 catalog_description_text_last">
    <ul>
      <li>Панель ввода. В состав входит оборудование, обеспечивающее защиту, коммутацию, управление вводом и
        учетом
        используемой электроэнергии;
      </li>
      <li>Панель ввода, которая оснащена блоком АВР;</li>
      <li>Распределительная панель, которая представляет собой комплекс оборудования – блоки распределения,
        учета
        энергии;
      </li>
      <li>Противопожарная панель. Это распределительная панель, соединенная с вводной панелью АВР. Она
        необходима для
        питания устройств, призванных оповещать людей и ликвидировать источник возгорания;
      </li>
    </ul>
  </div>
</div>
