.our_works {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  height: 459px;
  margin-bottom: 160px;
  margin-right: auto;
  margin-left: auto;
}
.our_works_head {
  width: 320px;
}
.work_list{
  display: flex;
  flex-direction: column;
}
.our_works_main_image {
  position: relative;
  width: 437px;
  height: 459px;
  border-radius: 10px;
  object-fit: contain
}
.our_works_main_image_item{
  margin-right: 1rem;
}
.our_works_main_image_item:hover{
  cursor: pointer;
}
.our_works_right {
  margin-top: 36px;
  margin-left: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 884px;
  height: 423px;
}

.our_works_text_h1 {
  font-size: 32px;
  font-weight: 400;
  font-family: 'Inter', serif;
}

.our_works_description {
  padding-right: 2px;
  width: 884px;
  background-image: url("../../../../public/img/grschborder.svg");
  background-repeat: no-repeat;
  padding-top: 16px;
  padding-left: 28px;
}

.our_works_contur {
  display: flex;
  justify-content: space-between;
}

.our_works_text_h2 {
  margin-bottom: 34px;
  width: 785px;
  height: 76px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Inter', serif;
}

.our_works_second_images {
  display: flex;
  width: 600px;
  height: 150px;
  margin-bottom: 42px;
  justify-content: start;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: thin;
  scrollbar-color: blue blanchedalmond;
}

.our_works_buttons {
  display: flex;
  align-self: flex-end
}

.our_works_button {
  margin-right: 15px;
  height: 65px;
  width: 4rem;
  border: #2152FF 1px solid;
  border-radius: 10px;
  align-self: flex-end
}
