<div class="catalog_description_text1 catalog_description_text_first">
  Главные распределительные щиты ГРЩ предназначены для приема и распределения электроэнергии, защиты от перегрузок
  и
  токов короткого замыкания и используются для установки в распределительных сетях как в четырёхпроводном, так и
  пяти
  проводном исполнениях с рабочим нулевым и защитным заземляющим проводниками.
</div>
<div class="catalog_description_text2 catalog_description_text_box2">
  Щиты ГРЩ изготавливаются индивидуально, только по техническому заданию (ТЗ) заказчика. При этом согласуются:
</div>
<div class="catalog_description_text1 catalog_description_text_box2">
  <ul>
    <li>Комплектация ГРЩ, производитель коммутационного оборудования;</li>
    <li>Параметры оборудования;</li>
    <li>Принципиальная электрическая схема;</li>
    <li>Размеры ВхШхГ;</li>
    <li>Исполнение по степени защиты (IP30, IP54 и т.д.);</li>
    <li>Количество шкафов и их расположение в электрощитовом помещении.</li>
  </ul>
</div>
<div class="catalog_description_text1 catalog_description_text_box2">
  Панели представляют собой сварную конструкцию из лист гнутого профиля с установленными в ней
  коммутационно-защитными
  аппаратами и электроизмерительными приборами.
</div>
<div class="catalog_description_text1 catalog_description_text_box2">
  Схемы, типы аппаратов, габаритные размеры и конструкции панелей предусматривают возможность комплектования из
  них
  распределительных устройств для трансформаторных подстанций или отдельно стоящих щитов.
</div>
<div class="catalog_description_text1 catalog_description_text_box2">
  При необходимости установки панелей с разрывом секции с фасада щит закрывается фасадной вставкой. Размер
  фасадной
  вставки определяется при компоновке распределительного устройства.
</div>
<div class="catalog_description_text1 catalog_description_text_box2">
  При расположении щита РУ под углом проем между панелями закрывается угловой вставкой. Угол необходимо
  оговаривать
  при заказе (в опросном листе).
</div>
<div class="catalog_description_text1 catalog_description_text_box2">
  Нулевая шина N при пяти проводной системе установлена на изоляторах и соединяется с нулевым выводом силового
  трансформатора.
</div>
<div class="catalog_description_text1 catalog_description_text_box2">
  Функцию заземляющей шины PE выполняет металлоконструкция, приваренная на нижнем поясе.
</div>
<div class="catalog_description_text1 catalog_description_text_last">
  При четырехпроводной системе шину N необходимо электрически соединить с заземляющей шиной PE.
</div>
