<!--Контакты-->
<div class="contacts">
  <div class="contacts_block">
    <div class="contacts_title">КОНТАКТЫ</div>
    <div class="contacts_text address">
      198206 г. Санкт-Петербург, ул. Летчика Пилютова, д. 11, корп.1, лит.А, помещение 1-Н
    </div>
    <div class="contacts_text contacts_phone_email">
      <div class="contacts_phone">
        <div class="contacts_text">
          <a href="tel:+78129516997">+7 (812) 951-69-97</a>
        </div>
        <div class="contacts_text">C 09:00 до 18:00</div>
      </div>
      <div class="email contacts_text">
        <a href="mailto:sales@emacs.spb.ru">sales&#64;emacs.spb.ru</a>
      </div>
    </div>
  </div>
  <div class="map">
    <app-ymaps></app-ymaps>
  </div>
</div>
