.contacts {
  height: 355px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 160px;
  align-items: center;
}

div.contacts_block {
  width: 567px;
  height: 280px;
}

.contacts_title {
  font-family: Inter, serif;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 58px;
}

.address {
  margin-bottom: 58px;
}

.contacts_text {
  font-family: Inter, serif;
  font-weight: 400;
  font-size: 24px;
  color: black;
}

.contacts_phone_email {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.email {
  margin-left: 84px;
  align-self: flex-end;
}

.contacts_phone_email a {
  color: black;
}

.contacts_phone a {
  text-decoration: none;
}
