.call_us {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 265px;
  background-image: url("../../../../public/img/call_us.png");
  background-repeat: no-repeat;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 160px;

}

.call_us_texts {
  margin-left: 64px;
  margin-top: 43px;
}

.call_us_text1 {
  font-size: 36px;
  font-weight: 600;
  font-family: 'Inter', serif;
  color: white;
}

.call_us_text2 {
  font-size: 36px;
  font-weight: 500;
  font-family: 'Inter', serif;
  color: white;
  margin-bottom: 30px;
}

.call_us_text2 a {
  text-decoration: none;
  color: white;
}

.call_us_text3 {
  font-size: 24px;
  font-weight: 500;
  font-family: 'Inter', serif;
  color: white;
  margin-bottom: 6px;
}

.call_us_text4 {
  font-size: 16px;
  font-weight: 500;
  font-family: 'Inter', serif;
  color: white;
}

.call_us_number_form1 {
  margin-top: 62px;
  margin-right: 62px;
}

.call_us_number_form2 {
  margin-top: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 418px;
  height: 60px;
  background: #2152FF;
  color: white;
  font-size: 20px;
  font-family: 'Inter', serif;
}

.call_us_number_form2:hover {
  background: #1939AB;
  cursor: pointer;
}

.call_us_pers {
  margin-top: 26px;
  color: white;
  font-size: 12px;
  font-family: 'Inter', serif;
}
.text-field__input {
  margin-top: 62px;
  margin-right: 62px;
  display: block;
  width: 418px;
  height: 60px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #787878;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.error{
  border: 1px solid red;
}
