<div class="catalog_description_text2 catalog_description_text_first">
  Шкафы управления насосами ШУН применяются в различных промышленных и бытовых областях, а именно: в теплопунктах,
  котельных, дренажных системах, очистительных сооружениях и т.д. Запуск и управление насосами как правило состоит
  из трех вариаций, которые используются в шкафах ШУН:
</div>
<div class="catalog_description_text1 catalog_description_text_box2">
  Прямой пуск насоса, через контактор. Данный способ управления насосом является самым бюджетным и как правило
  используется на маломощных насосах (до 5.5кВт). Это связано с большими пусковыми токами насосов, которые
  достигают 6-ти кратный номинал двигателей. Если номинальный ток двигателя 7А, то при пуске (кратковременно)
  может достигать 42А. Насосы большой мощности крайне не рекомендуют запускать "прямым пуском", так как это
  негативно сказывается на гидравлической системе (происходят гидроудары), уменьшается срок службы двигателя.
</div>
<div class="catalog_description_text1 catalog_description_text_box2">
  Плавный (мягкий) пуск через устройство плавного пуска УПП. Данный способ управления насосами позволяет
  минимизировать пусковые токи, запуская плавно двигатель до нужно частоты. УПП как правило применяется в
  резервных линиях, либо когда мощность двигателя подобрана должным образом и насос на максимальной
  производительности (50Гц) показывает максимальный КПД. Частой "ошибкой" сборщиков шкафов управления насосами
  является установка контактора на "байпасную" (резервную) линию. Иными словами, если у Вас насосы работают при
  принципе "один рабочий + один резервный" и частотный преобразователь или УПП выходят из строя (например, по
  ошибке ЧП), то автоматически происходит "прямой пуск" по резервной линии, тем самым обеспечивая гидроудар в
  системе. В таких случаях крайне рекомендуют на резервную линию устанавливать, либо второй частотный
  преобразователь, либо устройство плавного пуска.
</div>
<div class="catalog_description_text1 catalog_description_text_last">
  Частотное регулирование, запуск насоса через частотный преобразователь. Частотный преобразователь позволяет
  плавного запуска, останавливать насос, а также производить управление по разным режимам. Чаще всего современные
  системы управления насосами позволяют производить поддержания технологических параметров (давления в
  трубопроводе, расход, уровень и т.п.). В связи с этим, используя частотный преобразователь можно обеспечивать
  защиту насоса от потери фазы, перенапряжения, перегрузки, а также производить ПИД регулирование без
  использования внешних систем автоматики.
</div>
