<div class="discount">
  <div class="discount_left">
    <div class="discount_block1">
      <div class="discount_text discount_text_1">-10%</div>
      <div class="discount_text discount_text_2">Оставьте номер телефона</div>
      <div class="discount_text discount_text_2">и получите скидку</div>
    </div>
    <div class="discount_block2">
      <div class="discount_text discount_text_3">На любую</div>
      <div class="discount_text discount_text_3">услугу</div>
    </div>
  </div>
  <div class="discount_right">
    <input type="text" class="text-field__input discount_form_1" placeholder="Ваше имя">
    <input
      [disabled]="backRequestService.inputDisabled"
      class="text-field__input discount_form_1"
      type="tel"
      id="phone"
      formControlName="phone"
      ngxPhoneField
      [ngxPhoneFieldParams]="phoneInputParams.phoneInputParams()"
      [ngClass]="{error:(phoneValid===false)}"
    />
    <div class="discount_form_2" (click)="handleSubmit()">
      <div class="discount_text discount_text_5">
        Отправить
      </div>
    </div>
    <div class="discount_text_2">*Нажимая на кнопку, Вы соглашаетесь на обработку персональных данных</div>
  </div>
</div>
