<div class="discount">
  <div class="discount_left">
    <div class="discount_block1">
      <div class="discount_text discount_text_1">-10%</div>
      <div class="discount_text discount_text_2">Оставьте номер телефона</div>
      <div class="discount_text discount_text_2">и получите скидку</div>
    </div>
    <div class="discount_block2">
      <div class="discount_text discount_text_3">На любую</div>
      <div class="discount_text discount_text_3">услугу</div>
    </div>
  </div>
  <div class="discount_right">
    <div class="discount_form_1">
      <div class="discount_text discount_text_4">Ваше имя</div>
    </div>
    <div class="discount_form_1">
      <div class="discount_text discount_text_4">Номер телефона</div>
    </div>
    <div class="discount_form_2">
      <div class="discount_text discount_text_5">
        <a href="#">Отправить</a>
      </div>
    </div>
    <div>*Нажимая на кнопку, Вы соглашаетесь на обработку персональных данных</div>
  </div>
</div>
