.buttons {
  background: #2152FF;
  border-radius: 5px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: white !important;
  font-family: 'Inter', serif;
  height: 56px;
  width: 226px;
  font-size: 20px;
  cursor: pointer;
}
